
.display-footer-turismo360 {
    text-align: center;
    margin: 0 10rem 0 0;
}
.display1-footer-turismo360 {
    text-align: center;
    margin: 0 10rem 0 0;
}
.display2-footer-turismo360 {
    text-align: center;
}

.slogan-turismo360 {
    color: white;
    font-size: 25px;

}
.siguenos-turismo360 {
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.sobrenosotros-turismo360 {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.titulo-footer-turismo360 {
    color: white;
}
.iconos-footer {
    display: flex;
    justify-content: space-around;
}
.social i.bi {
    font-size: 2rem;
}
.sobrenosotros-footer {
        display: grid;
}
.politicadeprivacidad-turismo360 {
    color: white;
}