<div class="footer-turismo360">
    <div class="display-footer-turismo360">
        <div class="parte1-footer">
            <img class="logo" src="assets/images/TURISMO360.png" alt="">
            
            
        </div>

    </div>
    <div class="display1-footer-turismo360">
        <p class="siguenos-turismo360">
            Síguenos en nuestras redes sociales
        </p>    
        <span class="facebook-turismo360">
            facebook
        </span>

    </div>
    <div class="display2-footer-turismo360">
        <p class="sobrenosotros-turismo360">
            Sobre nosotros
        </p>    
        <p class="politicadeprivacidad-turismo360">
            . Política de privacidad
        </p>
        <p class="terminosycondiciones-turismo360">
            . Términos y condiciones
        </p>
        <p class="politicadeprivacidad-turismo360">
            . Política de reembolso
        </p>
        <p class="sostenibilidad-turismo360">
            . Sostenibilidad
        </p>

    </div>
</div>