<div class="footer-turismo360">
    <div class="display-footer-turismo360">

        <a href="" class="navbar-brand">
            <h1 class="m-0 text-primary"><span class="text-dark">TURISMO</span>360</h1>
        </a>
        
        <p class="slogan-turismo360">
            Turismo social y sostenible: de Colombia para el mundo.
        </p>

    </div>
    <div class="display1-footer-turismo360">
        <p class="siguenos-turismo360">
            Síguenos en nuestras redes sociales
        </p>    
        <span class="facebook-turismo360">
            facebook
        </span>

    </div>
    <div class="display2-footer-turismo360">
        <p class="sobrenosotros-turismo360">
            Sobre nosotros
        </p>    
        <p class="sobrenosotros-turismo360">
            . Política de privacidad
        </p>
        <p class="sobrenosotros-turismo360">
            . Términos y condiciones
        </p>
        <p class="sobrenosotros-turismo360">
            . Política de reembolso
        </p>
        <p class="sobrenosotros-turismo360">
            . Sotenibilidad
        </p>

    </div>
</div>