<div class="footer-turismo360">
    
    <div class="display-footer-turismo360">
        <div class="parte1-footer">
            <img class="logo" src="assets/images/TURISMO360.png" alt="">
            
            
        </div>

    </div>
    <div class="display1-footer-turismo360">
        
        <p class="siguenos-turismo360">
            Síguenos en nuestras redes sociales
        </p>   
        <span class="iconos-footer">
            
            <a class="social" href="https://www.facebook.com/profile.php?id=61554632163833"  target="_blank">
                <i class="bi bi-facebook"></i>
            </a>
            <a class="social" href="https://www.instagram.com/turismo3600000/"  target="_blank">
                <i class="bi bi-instagram"></i>
            </a>
            <a class="social" href="https://twitter.com/turismo3600000" target="_blank">
                <i class="bi bi-twitter-x"></i>
            </a>
        </span> 

    </div>
    <div class="display2-footer-turismo360">
        <p class="sobrenosotros-turismo360">
            Sobre nosotros
        </p>   
        

        <div class="sobrenosotros-footer">
            <a class="politicadeprivacidad-turismo360" href="politicadeprivacidad-turismo360">Política de privacidad</a>
            <a class="politicadeprivacidad-turismo360" href="terminosycondiciones-turismo360">Términos y condiciones</a>
            <a class="politicadeprivacidad-turismo360" href="politicadeprivacidad-turismo360">Política de reembolso</a>
            <a class="politicadeprivacidad-turismo360" href="sostenibilidad-turismo360">Sostenibilidad</a>
        </div>
        
        

    </div>
</div>