.container {
    background-color: white;
    padding-bottom: 3rem !important;
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    font-size: larger;
}
.container1y2 {
    display: flex;
}
.palito {
    margin: 0 1rem 0 1rem;
}

.logo {
    width: 125px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}
