<div class="container">
    <div class="container1y2">
        <div class="container1">
            <img class="message-icon" src="/src/assets/images/iconos/envelope-solid.svg" alt="">
            <p>info@example.com</p>
        </div>
        <p class="palito">
            |
        </p>
        <div class="container2">
            <p>+57 322 3783375</p>
        </div>
    </div>
   
    <div class="menu">
        <ul class="menu">
            <li class="menu-item"><a href="#">Inicio</a></li>
            <li class="menu-item"><a href="#">Planes</a></li>
            <li class="menu-item"><a href="#">Blogs</a></li>
            <li class="menu-item"><a href="#">Contáctanos</a></li>
        </ul>

    </div>

</div>


<div class="navbar">
    <img class="logo" src="assets/images/TURISMO360.png">
    
</div>