.logo {
    width: 125px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}
