<!-- <pre>{{ plan | json }}</pre> -->


<link rel="stylesheet" href="./actividades.component.css">

<div class="cuadro-monserrate">

    <div class="imagen-monserrate">
        <img class="imagen-monserrate" [src]="plan?.urlImage" alt="">

        <form [formGroup]="reservasForm" (ngSubmit)="onSubmit()">
            <div class="reserva-ahora-fondo-monserrate">
                <h2 class="reserva-ahora-monserrate">
                    Reserva ahora
                </h2>
            </div>
            
            <div class="form-group">
                <input type="text" class="form-control p-4" placeholder="Tu nombre" required="required" formControlName="name" />
            </div>
            <div class="form-group">
                <input type="email" class="form-control p-4" placeholder="Tu correo electrónico" required="required" formControlName="email" />
            </div>
            <div class="form-group">
                <select class="custom-select px-4" style="height: 47px;" formControlName="plan">
                    <option selected value="">Selecciona un plan:</option>
                    <option *ngFor="let plan of planes" [value]="plan.name">{{plan.name}}</option>
                  </select>

            </div>
            <div class="form-group">
                <input type="date" class="form-control p-4" placeholder="Elige fecha" required="required" formControlName="date" />
            </div>
            <div class="form-group">
            <select class="custom-select px-4" style="height: 47px;" formControlName="quantity">
                <option selected value="">Número de personas</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">Más de 6</option>
                <option value="7">Me gustaría un tour privado</option>
            </select>
            </div>
            <div class="form-group">
                <textarea formControlName="notes" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Notas"></textarea>
            </div>
            <div class="form-group">

                total{{ total | currency: "COP": "symbol"}}
            </div>
                <button class="btn btn-primary btn-block py-3" type="submit">Reservar</button>

        </form>

    </div>

    <div class="actividad-monserrate">

        <h1 class="titulo-monserrate">
            {{plan?.name}}
        </h1>

        <p class="ciudad-monserrate">
            {{plan?.location}}
        </p>

        <p class="descripcion-monserrate">
            {{plan?.description}}
        </p>
        <div class="carrusel">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/images/bogota.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/images/monserrate.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/images/graffiti.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
        </div>



    </div>



</div>







