<link rel="stylesheet" href="./actividades.component.css">

<div class="cuadro-monserrate">

    <div class="imagen-monserrate">
        <img class="imagen-monserrate" src="assets/images/monserrate.jpg" alt="">
    </div>
    
    <div class="actividad-monserrate">
        <h1 class="titulo-monserrate">
            Tour Bogotá + Cerro Monserrate
        </h1>
    
        <p class="precio-monserrate">
            $35.000 COP
        </p>
    
        <p class="descripcion-monserrate">
            Este recorrido, acompañado por nuestros guías expertos, empieza en un lugar emblemático: El cerro de Monserrate. Subirás a más de 3100 m de altura y verás la hermosa basílica de Monserrate y la mejor imagen panorámica de la ciudad. Irás después al Museo del Oro, conocerás una colección de piezas de oro y su historia en Colombia y la relación con la cultura Muisca que también dan origen a la leyenda de El Dorado. Este viaje se hace en el barrio la Candelaria, llegarás a dos lugares imperdibles, el Museo Botero, nombrado en honor al reconocido pintor colombiano Fernando Botero; y la Plaza de Bolívar, donde se ubica el Palacio de Justicia, El palacio presidencial, la alcaldía, la Catedral Primada, ¡y más! Por último, caminarás hasta la zona denominada el Chorro de Quevedo para conocer distintas tradiciones que mezclan entre las nuevas generaciones y las pasadas.
        </p>
        <p class="importante-monserrate">
            IMPORTANTE:
        </p>
        <p class="precio1-monserrate">
            Precio del tour: $35.000 COP
        </p>
        <p class="precio2-monserrate">
            Reserva con el 10% por persona: $35.000 COP
        </p>
        <p class="calendario-monserrate">
            AQUÍ VA EL CALENDARIO API GOOGLE CALENDAR
        </p>
    
    
    </div>
    


</div>


