<div class="">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg">
            <a href="" class="navbar-brand">
                <img class="logo-admin" src="assets/images/TURISMO360.png" alt="logo">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Planes</a>
                        <div class="dropdown-menu border-0 rounded-0 m-0">
                            <a routerLink = "/listar-planes"  class="dropdown-item">Todos los planes</a>
                            <a routerLink = "/crear-plan"  class="dropdown-item">Crear Plan</a>
                            
                        </div>
                        
                    </div>
                   
                    <a (click)="logout()" class="nav-item nav-link">Logout</a>
                </div>
            </div>
        </nav>
    </div>
</div>