<div class="grid">
    <div class="turismo-social">
        <div class="turismo-social">
    
            <h2 class="titulo-turismo-social">
                Inmersiona desde el Turismo Social.
            </h2>
            <p class="descripcion-turismo-social">
                El turismo social surge como una propuesta
                para que la comunidad local sea la principal gestora de su turismo y sea del mismo modo
                beneficiada a partir de sus proyectos sociales.
            </p>
            <p class="cita-turismo-social">
                «El turismo social es un objetivo que
                la sociedad debe alcanzar para los
                ciudadanos menos favorecidos en el
                ejercicio de su derecho al descanso»
                ^Declaración de Manila sobre el
                Turismo Mundial. 10 de Octubre
                de 1980 (articulo 10)».
            </p>
            <button class="ver-mas">
                botón ver más
            </button>

        </div>
    </div>
    

    <div class="grid-actividades-turismo-social0">
        <div class="actividades-turismo-social1">
            
            
        </div>
        <div class="actividades-turismo-social2">
            
        </div>
        <div class="actividades-turismo-social3">
            
       
        </div>
    </div>
    
    
    
</div>