
html {
    background-color: #e8e6e1;
}
main {
    background-color: #e8e6e1;
    flex-wrap: wrap;
}

.turismo-social {
    background-color: white;
    padding: 1rem;
    margin-left: 1rem;
    
}

.actividades-turismo-social1 {
    background-color: #e8e6e1;
    background-image: url(/src/assets/images/tejido-diagonal-1.png);
    margin: 3rem;
    border-radius: 1rem;
    height: 15rem;
    padding: 3rem;
}
.actividades-turismo-social2 {
    background-color: #e8e6e1;
    /* background-image: url(./images/tejido\ diagonal\ 2.PNG); */
    margin: 3rem;
    border-radius: 1rem;
    height: 15rem;
    padding: 3rem;
}
.actividades-turismo-social3 {
    background-color: #e8e6e1;
    /* background-image: url(./images/tejido\ diagonal\ 3.PNG); */
    margin: 3rem;
    border-radius: 1rem;
    width: 30rem;
    height: 15rem;
    padding: 3rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    margin: 1.4rem;
    justify-items: end;
    background-color: white;
}




.titulo-turismo-social {
    font-size: 3rem;
    line-height: 1.2;
    font-family: monospace;
    
}
.descripcion-turismo-social {
    line-height: 1.5;
    font-family: monospace;
    font-size: 1rem;
}
.cita-turismo-social {
    font-style: oblique;
}