
        <div class="banner"> 
            
            
            <img class="img-banner" src="assets/images/banner-san-andres.jpg" alt="">
            <!-- <video autoplay loop muted plays-inline>
                <source src="assets/images/banner-san-andres.jpg" type="video/mp4">
            </video> -->
            <div class="content">
                <h1>Turismo social y sostenible: de nuestra comunidad para el mundo.</h1>
                <div>
                    <button type="button">Explorar</button>
                </div>
            </div>
        </div>

        <app-social></app-social>
