<div id="#planes" class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Planes</h6>
            <h1>Nuestros planes</h1>
        </div>
        <div class="row">
            <div 
                class="col-lg-4 col-md-6 mb-4"
                *ngFor="let plan of planes"
                
            >
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" [src]="plan.urlImage" alt="">

                    <a class="destination-overlay text-white text-decoration-none" (click) = "irAlDetalleDelPlan( plan )">

                        <h5 class="text-white">{{plan.location}}</h5>
                        <span>{{plan.name}}</span>
                   </a> 
                   
                </div>
                
            </div>
          
                
   
        </div>
        
    </div>
</div>
<button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
<button (click)="nextPage()">Siguiente</button>
